@temp_color:#FC7C0D;
.templates{
    margin-top:20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.template{
    width: 500px;
    height: 450px;
    border-radius: 25px;
    background-color: @temp_color;
}