@minWidth: 320px;
@maxWidth: 1200px;
@maxWidthContainer: 945px;
@md1: @maxWidthContainer + 15px;
@md2: 992px;
@md3: 767px;
@md4: 480px;
@maxWidthIntro: 800px;

.__container{
    max-width: @maxWidthContainer;
    margin: 0 auto;
    @media(max-width: @maxWidth) {
        max-width: 1152px;
    }
    @media(max-width: @md2) {
        max-width: 992px;
    }
    @media(max-width: @md3) {
        max-width: 767px;
    }
}
.header{
    &__content{
        max-width: @maxWidth + 15px;
        padding: 0px 10px;
        margin: 0 auto;
    }
    &__menu{
        display: flex;
        justify-content: space-between;   
        height: 60px;  
        width: 100%;
        background-color: rgb(255,229,206);
    }
}
.menu{       
    &__icon{
        //TODO: не могу оторвать иконки от левого края       
        li{      
            display: inline-block;
            vertical-align: top;      
            margin-left: 20px;
            flex-shrink: 1;
        }
        .icon__list{
            width: 28px;
            height: 28px;            
        }
    }
    &__body{
        ul{
            list-style-type: none;
        }        
    }
    &__list{      
        li{            
            margin-left: 30px;
            flex-shrink: 1;            
            @media(max-width:@md2) {
                margin-left: 100px;
            }   
        }
        li:first-child{
            color: rgb(251,179,114);
            font-weight: bold;
        }
    }
    &__link{
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        font-weight: 500;
        transition: all .3s ease 0s;
        &:hover{
            color: rgb(251,179,114);
            font-weight: 700;
        }
    }
}

.intro{
    display: flex;
    justify-content: center;
    width: 100%;
    //height: 100vh;

    &__inner{
        width: 100%;
        max-width: @maxWidthIntro;
        margin: 0 auto;
        line-height: 8px;
        &__title{
            font-size: 18px;
            width: 300;
            text-transform: uppercase;
            text-align: center;
        }
        &__undertitle{
            font-size: 56px;
            width: 700;
            text-align: center;
        }
    }
}

.content{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    &__item{
        width: 33%;
        padding: 20px 0;
    }
}