html {
    box-sizing: border-box;
    height: 100%;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper{
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 20px;
}
li{
    list-style-type: none; /* Убираем маркеры */
   }