@media (max-width:1440px){
    .mainmenu__item{
        visibility: hidden;
    }
    .templates{
      justify-content: center;
    }
  }
  
  @media (max-width:1730px){
    .templates{
      justify-content: center;
    }
  }
  
  
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
  }
  
  @media only screen
  and (min-width : 1224px) {
  }
  
  @media only screen
  and (min-width : 1824px) {
  }
  
  